/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #ffffff;
}

/* Navigation */
header {
    background: #000000;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ddd;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/myPic.png') no-repeat;
    background-color: #000000;
    height: 100vh;
    padding: 0 20px;
    background-size: contain;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero-text {
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10rem;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    margin: 0 10px;
    display: inline-block;

}

.social-links img {
    width: 30px;
    height: 30px;
}

/* Worked With Section */
.worked-with {
    backdrop-filter: blur(10px);
    padding: 50px 20px;
    text-align: center;
    border-radius: 12px;
    margin-right: 10rem;
}

.worked-with h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.worked-with .logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.worked-with .logos img {
    margin: 10px;
    height: 50px;
    width: auto;
}

/* Case Studies Section */
.case-studies {
    background: #ffffff;
    padding: 50px 20px;
}
.container{
    display: flex;
    flex-direction: column;
}
.case-studies  {
    max-width: 1200px;
    margin: 0 auto;
}

.case-studies h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
}

.case-study {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
    padding: 0 10rem 0 10rem;
}

.case-study img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin: 10px;
    align-items: center;
}

.case-study .content {
    padding: 20px;
    max-width: 700px;
}

.case-study h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.case-study p {
    font-size: 1rem;
}

.case-study:nth-child(odd) { 
    flex-direction: row-reverse;
    gap: 5rem;
    align-items: center;
}

.case-study:nth-child(even) {
    gap: 5rem;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .case-study {
        flex-direction: row;
        align-items: flex-start;
        padding: 0 2rem; /* Adjusted padding for larger screens */
    }

    .case-study .content {
        text-align: left;
    }

    .case-study img {
        margin: 10px 20px; /* Adjusted margin for larger screens */
    }
}
/* Contact Section */
.contact {
    background: #fff;
    padding: 50px 20px;
    text-align: center;
}

.contact-container {
    max-width: 600px;
    margin: 0 auto;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact input, .contact textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact {
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* CSS */
.button {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 50px;
  min-width: 0;
  outline: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  will-change: transform;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}