@use "./abstracts" as *;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  line-height: normal;
}

:root {
  scroll-behavior: smooth;
  --user-font-scale: 62.5%;
  font-size: clamp(
    0.875rem,
    0.4626rem + 1.0309vw + var(--user-font-scale),
    1.125rem
  );

  // font family
  --ff-p: "IBM Plex Sans", sans-serif;

  --secondary-font-color: #fff;

  --error-color: #ce0606;
  --success-color: #009070;
  --warning-color: #e88113;

  --pricing-color: #0e0264;

  // heading
  --heading-color: #1d1d1d;

  --header-size: 80px;
  --header-thickness: 2px;
  --primary-bg-color: #325a96;
  --primary-color: #0f62fe;
  --secondary-color: white;
  --secondary-bg-color: navy;
  --main-bg: #000000f2;
  --theme-yellow: #ffca6c;
  --white: #fafafa;
  --heading-color: #dac5a7;
  --sub-txt-color: #dac5a7a7;
  --border-color: #dac5a755;
  --card-bg-color: #dac5a725;
  --bg-card-color: #1a1a1a;
  --bg-color: #0e0e0e;
}

.g-title-cat {
  font-size: 0.875rem;
  font-weight: 500;
  color: #b0a98e;
  text-transform: uppercase;
}

.g-title-h2 {
  font-size: 1.6rem;
  font-weight: 550;
  color: #666;
}

/* This applies to all scrollable elements */
::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white); /* color of the tracking area */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--heading-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--heading-color);
}
