---
import AboutCard from "../components/AboutCard.astro";
import Image1 from "../assets/p-img1.png";
---

<div class='about-section'>
  <AboutCard
    Heading='My Real Life is Up to You? I am a Full-stack Developer'
    Description=` I'm a Full-stack Developer
and graphic designer living in India. I spend my days with my hands in many
different areas of UI development from back end programming to front end
engineering.`
    ImagePath={Image1}
  />
</div>
<style>
  .about-section {
    background-color: var(--bg-color);
  }
</style>
