---
import { Image } from "astro:assets";
import AboutImage from "../assets/about-img.jpg";
var test = "sathyam";
---

<div class='about-section'>
  <div class='item item-1'>
    <div class='card-left'>
      <Image src={AboutImage} alt='' />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dolor
        sit amet explicabo consequuntur
      </p>
    </div>
  </div>
  <div class='item item-2'>
    <div class='card-right normal'>
      <Image src={AboutImage} alt='' />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dolor
        sit amet explicabo consequuntur Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Laborum praesentium quis aliquam!
      </p>
    </div>
    <div class='card-right reverse'>
      <Image src={AboutImage} alt='' />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dolor
        sit amet explicabo consequuntur Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Laborum praesentium quis aliquam!
      </p>
    </div>
  </div>
</div>

<style>
  .about-section {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: black;
  }
  .item {
    flex: 1;
  }
  .card-left {
    background-color: var(--white);
    height: 70%;
    width: 50%;
    padding: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    img {
      width: 100%;
      height: 70%;
      object-fit: cover;
    }
    p {
      font-size: 0.9rem;
      text-align: justify;
    }
  }

  .item-1 {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.1)
      ),
      url(../assets/about-bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item-2 {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    gap: 2rem;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url(../assets/about-bg2.jpg);
    background-position: center;

    background-repeat: no-repeat;
    background-size: cover;
  }
  .card-right {
    height: 25%;
    width: 100%;
    background-color: white;
    max-width: 80%;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    gap: 2rem;

    img {
      height: 100%;
      width: 30%;
      object-fit: cover;
    }

    p {
      font-size: 0.9rem;
      text-align: justify;
      width: 70%;
    }
  }
  .reverse {
    flex-direction: row-reverse;
  }
  @media (max-width: 800px) {
    .card-left {
      /* width: 100%; */
      img {
        width: 100%;
        height: 50%;
        object-fit: cover;
      }
    }
    .item {
      flex: none;
    }
    .about-section {
      flex-direction: column;
      height: fit-content;
    }
  }
</style>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  gsap.from(".reverse", {
    opacity: 0,
    duration: 2,
    y: "100%",
    ease: "power3.out",

    scrollTrigger: {
      trigger: ".reverse",
      start: "top 80%",
      end: "bottom bottom",
    },
  });
  gsap.from(".normal", {
    opacity: 0,
    duration: 2,
    y: "-100%",

    ease: "power3.out",
    scrollTrigger: {
      trigger: ".normal",
      start: "top center",
      end: "bottom bottom",
    },
  });
</script>
