<div class='footer-section'>
  <div class='footer'>
    <div class='left'>
      <div class='logo'>LOGO</div>
      <div class='copyright'>© 2024 Design, Inc. All rights reserved</div>
    </div>
    <div class='right'>
      <div class='grid'>
        <div class='grid-item'>
          <ul>
            <li><a href=''>Connect </a></li>
            <li><a href=''>Webflow</a></li>
            <li><a href=''>Dribble</a></li>
            <li><a href=''>Behance</a></li>
          </ul>
        </div>
        <div class='grid-item'>
          <ul>
            <li><a href=''>About</a></li>
            <li><a href=''>Hire me</a></li>
            <li><a href=''>Buy Code</a></li>
          </ul>
        </div>
        <div class='grid-item'>
          <ul>
            <li><a href=''>Facebook</a></li>
            <li><a href=''>Instagram</a></li>
            <li><a href=''>Twitter</a></li>
            <li><a href=''>Youtube</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .footer-section {
    height: 40vh;
    background-color: var(--bg-card-color);
  }
  .footer {
    display: flex;
    height: 100%;
    max-width: 1350px;
    margin: 0 auto;
  }
  .left {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    .logo {
      font-size: 28px;
      color: var(--heading-color);
      font-weight: 400;
    }
    .copyright {
      font-size: 0.9rem;
      font-weight: 300;
      color: var(--sub-txt-color);
    }
  }
  .right {
    width: 70%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    width: 100%;
  }
  .grid-item {
    width: 100%;
    ul {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;

      li {
        list-style: none;
        a {
          text-decoration: none;
          font-size: 0.9rem;
          font-weight: 300;
          color: var(--sub-txt-color);
        }
      }
    }
  }
  @media (max-width: 800px) {
    .footer-section {
      height: fit-content;
      padding: 2rem;
      display: flex;
      align-items: center;
      text-align: center;
    }
    .left,
    .right {
      width: 100%;
      padding: 1rem 0;
    }
    .footer {
      flex-direction: column;
    }
    .grid {
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
    }
  }
</style>
