---
interface Props {
  title: string;
}
import Footer from "../sections/Footer.astro";
import MobNavbar from "../sections/MobNavbar.astro";
import Navbar from "../sections/Navbar.astro";
import "../styles/global.scss";

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
